

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #00d8b4, #0e8aa9, #0075bd, #0068bc);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #00d8b4, #0e8aa9, #0075bd, #02d8e8);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
    }
    
    .card {
        cursor: pointer;
        transition: transform 0.2s;
    }
    
    .card:hover {
        transform: scale(1.05);
    }
    