@font-face {
  font-family: "mainfont";
  src: url(../fonts/RobotoCondensed-VariableFont_wght.ttf) format(truetype);
}
@font-face {
  font-family: "mocbin";
  src: url(../fonts/Rockers\ Garage.ttf) format(truetype);
}
body {
  font-family: "mainfont";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom modal styles */
.custom-modal {
  border-radius: 10px;
  overflow: hidden;
  animation: fadeIn 0.5s ease-in-out;
}

.custom-modal-header {
  background-color: #007bff;
  color: white;
  border-bottom: none;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.custom-modal-body {
  background-color: #f1f1f1;
  text-align: center;
  padding: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

/* Modal fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.bg-navbar {
  background-color: #008fcd;
}

.nav-link {
  color: #eee;
}

.bg-welcome {
  border: solid #008fcd;
  padding-bottom: 80px;
  border-radius: 10px;
  height: 70vh;
  background-image: linear-gradient(to right bottom, rgba(77, 148, 179, 0.8274509804), rgba(12, 169, 226, 0.7647058824)), url(../images/sky.jpg);
  background-position: top;
  background-size: cover;
  clip-path: polygon(0% 0%, 0% 100%, 371% 0%);
  color: rgb(207, 207, 207);
}

.bg-welcome1 {
  border-radius: 250px;
  padding-bottom: 10px;
  height: 50vh;
  background-image: linear-gradient(to right bottom, rgba(77, 148, 179, 0.8274509804), rgba(12, 169, 226, 0.7647058824)), url(../images/sky.jpg);
  background-position: top;
  background-size: cover;
  color: rgb(207, 207, 207);
}

.Terahood-welcome {
  font-family: "mocbin";
  font-size: 80px;
  letter-spacing: 20px;
  animation-duration: 5s;
  animation-name: moveInLeft;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(150px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.int {
  letter-spacing: 3px;
  font-size: 15px;
  animation-duration: 5s;
  animation-name: moveInRight;
}

.btn-welcome {
  background-color: rgb(7, 120, 155);
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7411764706);
}

.btn-t:active {
  transform: translateY(-1px);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.7450980392);
}

.btn-welcome {
  border-radius: 15px;
}

.logo {
  transition: all 1s ease;
}

.logo:hover {
  transform: scale(1.2);
}

.hamburger-menu {
  width: 55px;
  height: 55px;
  background-color: #00bbff;
  position: fixed;
  top: 30px;
  right: 30px;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 300;
  transition: all 0.5s;
}

.change .hamburger-menu {
  background-color: #eef0eb;
}

.line {
  width: 30px;
  height: 2px;
  background-color: #eee;
  margin: 2px 0;
  transform-origin: right;
  transition: all 0.5s;
}

.change .line-1 {
  transform: rotate(-40deg) translateY(-5px);
  background-color: #ff0000;
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  transform: rotate(40deg) translateY(5px);
  background-color: #ff0000;
}

.bg-cover {
  background-image: linear-gradient(to left top, rgba(0, 179, 255, 0.9019607843), rgba(6, 77, 185, 0.7803921569));
  width: 45px;
  height: 45px;
  position: fixed;
  top: 35px;
  right: 35px;
  z-index: 100;
  border-radius: 50%;
  transition: transform 0.5s;
}

.change .bg-cover {
  transform: scale(150);
}

.nav-list {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
}

.change .nav-list {
  opacity: 1;
  visibility: visible;
}

.nav-item {
  margin: 1.5vh 0;
}

.nav-atag {
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  transition: letter-spacing 0.2s;
}

.nav-link:hover {
  letter-spacing: 0.8rem;
}

.servicepage-section {
  position: relative;
  padding: 150px 0 120px;
}

.servicepage-section .service-box {
  margin-bottom: 30px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.servicepage-section .service-box .box-image {
  position: relative;
  float: right;
  width: 47%;
}

.servicepage-section .service-box .box-image .servicepage-image {
  overflow: hidden;
}

.servicepage-section .service-box .box-image .servicepage-image img {
  transition: all 0.3s ease-in-out;
}

.servicepage-section .service-box .box-image .servicepage-image:hover img {
  transform: scale(1.1);
}

.servicepage-section .service-box .image_content {
  box-shadow: 8px 2px 20px rgba(0, 0, 0, 0.38);
  border-radius: 100px;
  height: 82px;
  width: 82px;
  line-height: 78px;
  text-align: center;
  right: 20px;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.servicepage-section .service-box .image_content:hover {
  transform: translateY(-5px);
}

.servicepage-section .service-box .image_content .service-icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.servicepage-section .service-box .box-content {
  position: relative;
  display: inline-block;
  width: 53%;
  padding: 53px 20px 52px 42px;
}

.servicepage-section .service-box .box-content h5 {
  margin-bottom: 10px;
  letter-spacing: 0.8px;
}

.servicepage-section .service-box .box-content p {
  margin-bottom: 15px;
}

.servicepage-section .service-box .box-content {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.servicepage-section .service-box .box-content i {
  display: inline-block;
  margin-right: 8px;
  font-size: 12px;
  transform: rotate(180deg);
}

.btn-dastebandi {
  background-color: rgb(7, 120, 155);
}

.process-section {
  background: linear-gradient(to left top, rgba(77, 148, 179, 0.8274509804), rgba(12, 169, 226, 0.7647058824));
}

.process-section .process_content {
  text-align: center;
}

.process-section .process_content {
  margin-bottom: 18px;
}

.process-section .process_content h2 {
  margin-bottom: 46px;
}

.process-section .box-content {
  padding: 50px 30px 68px;
  border-bottom: 2px solid;
  transition: all 0.3s ease-in-out;
}

.process-section .box-content:hover {
  transform: translateY(-9px);
}

.process-section .box-content .icon {
  position: relative;
  float: left;
  top: -20px;
  transition: all 0.3s ease-in-out;
}

.process-section .box-content .icon:hover {
  transform: translateY(-5px);
}

.process-section .box-content span {
  font-size: 80px;
  line-height: 90px;
  font-weight: 600;
  display: block;
  margin-bottom: 18px;
}

.process-section .box-content h5 {
  font-weight: 600;
}

.option {
  margin-left: 10px;
  transition: all 1.5 ease;
}
.option .option:hover {
  transform: translate(1.5);
}

.option-border {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.option-border p {
  font-size: 13px;
  text-align: center;
  width: 15vw;
  height: 5vh;
}
.option-border .option-p {
  margin-top: 15px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 60px;
}

.image-product::after {
  content: "";
  position: absolute;
  width: 43%;
  height: 3%;
  box-shadow: 0 123px 32px rgba(0, 0, 0, 0.6), 0 123px 32px rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  left: 30%;
  bottom: 112px;
}

.item-grid-product {
  border-radius: 20px;
  transition: all 0.4s ease;
}

.item-grid-product:hover {
  background-color: #31a9aa;
  box-shadow: 0 8px 22px -1px #31a9aa;
}

.item-grid-product:hover .image-product {
  top: -40px;
}

.footer-section .footer-logo {
  position: relative;
  top: 3px;
  margin-bottom: 50px;
}

.footer-section .footer-image {
  position: absolute;
  bottom: 55px;
  left: 0;
}

.footer-section .middle-portion {
  padding-bottom: 66px;
}

.footer-section .middle-portion h3 {
  margin-bottom: 24px;
}

.footer-section .get_started {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  margin-left: 16px;
}

.footer-section .footer-button .image-button {
  display: inline-block;
}

.footer-section .footer-button .arrow {
  position: relative;
  background: rgba(0, 211, 230, 0.6705882353);
  width: 65px;
  height: 65px;
  line-height: 60px;
  text-align: center;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  top: -4px;
  left: 0;
  right: 0;
  margin: auto;
}

.footer-section .footer-button .arrow img {
  filter: bleftness(0) invert(1);
}

.footer-section .footer-button:hover .arrow {
  background: transparent;
}

.footer-section .footer-button:hover .arrow img {
  filter: none;
}

.footer-section .middle-portion .links {
  padding: 0 25px;
}

.footer-section .middle-portion .links h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

.footer-section .middle-portion .links .lower-content {
  margin-bottom: 24px;
}

.footer-section .middle-portion .links .lower-content .icon {
  float: right;
  width: 15%;
  padding-top: 7px;
  margin-bottom: 0;
  transition: all 0.3s ease-in-out;
}

.footer-section .middle-portion .links .lower-content .icon:hover {
  transform: translateY(-5px);
}

.footer-section .middle-portion .links .lower-content .content {
  display: inline-block;
  width: 85%;
}

.footer-section .middle-portion .links .lower-content span {
  display: block;
}

.footer-section .middle-portion .links .lower-content a {
  font-weight: 500;
}

.footer-section .middle-portion .links .lower-content .text {
  font-weight: 500;
  margin: 0 30px 0 0;
}

.footer-section .middle-portion .info h4 {
  font-weight: 600;
  margin-bottom: 30px;
}

.footer-section .middle-portion .info .form-group {
  margin-bottom: 26px;
}

.footer-section .middle-portion .info input {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  background: transparent;
  border: none;
  margin-bottom: 10px;
  overflow: visible;
  outline: none;
}

.footer-section .middle-portion .info button {
  font-size: 16px;
  background: transparent;
  border: none;
  float: left;
  position: relative;
  top: 4px;
  overflow: visible;
  outline: none;
}

.footer-section .middle-portion .info ul {
  padding-right: 37px;
}

.footer-section .middle-portion .info .text {
  position: relative;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 25px;
  transition: all 0.3s ease-in-out;
}

.footer-section .middle-portion .info ul li .circle {
  border-radius: 100px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 10px;
  right: -35px;
  font-size: 12px;
  font-family: "FontAwesome";
}

.footer-section .middle-portion .info .social-icons ul li {
  margin: 0 6px;
  display: inline-block;
}

.footer-section .middle-portion .info .social-icons ul li:first-child {
  margin-right: 0;
}

.footer-section .middle-portion .info .social-icons ul li:last-child {
  margin-left: 0;
}

.footer-section .middle-portion .info .social-icons ul li .social-networks {
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.footer-section .middle-portion .info .social-icons ul li .social-networks:hover {
  transform: translateY(-5px);
}

.footer-section .copyleft {
  text-align: center;
  padding: 15px 0px;
}

.footer-section .copyleft .text-size-14 {
  margin: 0px;
}

.container-plan {
  width: 100%;
  height: 100vh;
  background-color: #ddd;
}

.card-pr-wrapper {
  width: 90%;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-pr {
  width: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(../images/sky.jpg) center no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
  transition: all 0.4s;
}

.card-pr:hover {
  transform: scale(1.1);
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.8);
}

.card-pr-header {
  margin-bottom: 40px;
}

.card-pr-header h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: #00bbff;
  margin: 30px;
  border-bottom: 1px groove #fff;
  padding: 10px;
}

.card-pr-header h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 60px;
  font-weight: 300;
}

.card-pr-header sup {
  font-size: 35px;
}

.card-pr-header span {
  font-size: 18px;
}

.card-pr-body {
  margin-bottom: 60px;
}

.card-pr-body li {
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 15px 0;
}

.card-pr-body i {
  margin-right: 25px;
}

.card-pr-body .fa-check {
  color: #0d683a;
}

.card-pr-body .fa-times {
  color: #911832;
}

.card-pr-footer {
  margin-bottom: 40px;
}

.card-pr-footer button {
  width: 120px;
  padding: 10px;
  background-color: #00bbff;
  color: #ddd;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid #008fcd;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .container-plan {
    height: 100%;
  }
  .card-pr-wrapper {
    flex-wrap: wrap;
  }
  .card-pr {
    margin: 50px;
  }
}

/*# sourceMappingURL=main.css.map */
